@using Core.Domain.OpenWeatherMaps

<div class="alert alert-warning" role="alert">
    <pre>
Event: @Alert.Event
Sender: @Alert.SenderName
From: @Alert.Start.ToLocalTime()
To: @Alert.End.ToLocalTime()
Description: @Alert.Description
    </pre>
</div>

@code {
    [Parameter]
    public WeatherAlert Alert { get; init; }
}
