@page "/update"

@using SmartHomeWWW.Core.Firmwares

@inject FirmwareHttpClient FirmwareHttpClient

<div class="text-center">
    <h1 class="display-4">Updates</h1>
    @if (Firmwares != null && Firmwares.Any())
    {
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">Version</th>
            <th scope="col">Size</th>
            <th scope="col">Channel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var firmware in Firmwares)
        {
        <tr>
            <td>@firmware.Version</td>
            <td>@firmware.Size</td>
            <td>@firmware.Channel</td>
        </tr>
        }
    </tbody>
</table>
    }
    else
    {
    <div class="alert alert-warning" role="alert">No firmwares found</div>
    }
    @foreach (var channel in CurrentVersion.Keys.OrderBy(k => k))
    {
        <div>Current <i>@channel</i> version: <strong>@CurrentVersion[channel]</strong></div>
    }
</div>

@code {

    private IReadOnlyList<FirmwareViewModel> Firmwares = Array.Empty<FirmwareViewModel>();
    private IDictionary<UpdateChannel, FirmwareVersion> CurrentVersion = new Dictionary<UpdateChannel, FirmwareVersion>();

    protected override async Task OnInitializedAsync()
    {
        Firmwares = (await FirmwareHttpClient.GetAllFirmwares())
            .OrderByDescending(f => f.Version.Prefix)
            .ThenByDescending(f => f.Version.Suffix)
            .ToList();

        CurrentVersion = await FirmwareHttpClient.GetCurrentVersion();

        await base.OnInitializedAsync();
    }

}
