@using SmartHomeWWW.Client.Models;
@using SmartHomeWWW.Core.Domain.Relays;
@using SmartHomeWWW.Core.ViewModel
@using static SmartHomeWWW.Client.Models.RelayProxy;
@inject RelaysHttpClient RelayClient

<h3>Relay <i>@Entry.Name</i></h3>
<p>@Entry.Type</p>
<div class="btn @StateClass">
    <span class="spinner-border @(StateClass)" hidden="@(!IsFetching)" role="status"></span>
    @StateText
</div>

<button type="button" class="btn btn-primary" @onclick="(async () => await Entry.Toggle())">Toggle</button>

@code {
    [Parameter]
    public RelayProxy Entry { get; init; } = default!;

    private RelayViewState State => Entry.State;
    private bool IsFetching => State == RelayViewState.Fetching;

    private string StateClass =>
        State switch
        {
            RelayViewState.Fetching => "btn-secondary",
            RelayViewState.On => "btn-success",
            RelayViewState.Off => "btn-danger",
            RelayViewState.Error => "btn-warning",
            _ => "btn-secondary",
        };

    private string StateText =>
        State switch
        {
            RelayViewState.Fetching => string.Empty,
            RelayViewState.On => "On",
            RelayViewState.Off => "Off",
            RelayViewState.Error => "Error",
            _ => string.Empty,
        };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Entry.FetchState();
    }

}
