@{
    ViewData["Title"] = "Updates";
}
@model IEnumerable<SensorViewModel>

<div class="text-center">
    <h1 class="display-4">Sensors</h1>
    @if (Model.Any()) {
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">MAC</th>
                <th scope="col">Chip type</th>
                <th scope="col">Last contact</th>
                <th scope="col">Firmware version</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var sensor in Model)
                {
            <tr>
                <td>@sensor.Alias</td>
                <td>@sensor.Mac</td>
                <td>@sensor.ChipType</td>
                <td>@sensor.LastContact?.ToLocalTime()</td>
                <td>@sensor.FirmwareVersion</td>
                <td><button type="button" class="btn btn-danger" onclick="deleteSensor('@sensor.Id');">Delete</button></td>
            </tr>
                }
        </tbody>
    </table>
    } else {
    <div class="alert alert-warning" role="alert">No sensors found</div>
    }
</div>

@section Scripts
{
<script>
    function deleteSensor(id)
    {
        $.ajax({
            method: "DELETE",
            url: "Sensors/Delete/" + id,
            success: function (r) {
                location.reload();
            }
        });
    }
</script>
}
